<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirection vers le dossier public
    RewriteBase /
    RewriteRule ^$ public/ [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
